/* ---------------------------------------- */
/*                 EXAMPLE                  */
/* ---------------------------------------- */

/*
<details class="accordion">
    <summary class="accordion__summary">Summary</summary>
    <p class="accordion__content">Lorem ipsum...</p>
</details>
*/

/* ---------------------------------------- */
/*                  STYLES                  */
/* ---------------------------------------- */

.accordion__summary {
    @extend %label;
    padding: $padding-xs;
    border: $border-width $border-style transparent;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all $transition-duration $ease-cubic;
}

.accordion__summary:hover {
    color: $color-primary-dark;
    background-color: $color-primary-light;
}

.accordion__summary:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 ($border-width * 2) $color-primary-light,
                $button-box-shadow-base;
}

.accordion__content {
    padding: $padding-md $padding-xs;
}

/* ACCORDION CARD */

.accordion--card  {

    .accordion__summary {
        padding: $padding-md;
        background-color: $gray-100;
        border: $border;
    
        &:hover,
        &:focus {
            border-color: $color-primary;
        }

        &:hover {
            background-color: $color-primary-light;
        }
    }

    &[open] {
        .accordion__summary {
            border-radius: $border-radius $border-radius 0 0;
        }

        .accordion__content {
            padding: $padding-md;
            border: $border;
            border-top: none;
            border-radius: 0 0 $border-radius $border-radius;
        }
    }
}
