// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

.description-list {
  display: grid;
  grid-columns: 1fr 4fr;
  grid-gap: $padding-md;
  grid-template-areas: "lebel content";
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.description-list {
  margin-bottom: $padding-md;
}

.description-list__label {
  @extend %h5;
}

.description-list__content {
  @extend %p;
}
