// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

.paint-chip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "color title"
    "color values";
  grid-gap: 1rem;
}

.paint-chip__color {
  grid-area: color;
}

.paint-chip__title {
  grid-area: title;
  display: grid;
  align-items: center;
}

.paint-chip__values {
  grid-area: values;
  display: grid;
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.paint-chip {
  @extend %card;
  margin-bottom: calc(#{$padding-md} - 1px);
  padding: $padding-md;
}

.paint-chip__color {
  border-radius: $border-radius;
  
  .paint-chip--primary & {
    background-color: $color-primary;
  }

  .paint-chip--secondary & {
    background-color: $color-secondary;
  }

  .paint-chip--success & {
    background-color: $color-success;
  }

  .paint-chip--warning & {
    background-color: $color-warning;
  }

  .paint-chip--danger & {
    background-color: $color-danger;
  }

  .paint-chip--info & {
    background-color: $color-info;
  }

  .paint-chip--gray-100 & {
    background-color: $gray-100;
  }

  .paint-chip--gray-200 & {
    background-color: $gray-200;
  }

  .paint-chip--gray-300 & {
    background-color: $gray-300;
  }

  .paint-chip--gray-400 & {
    background-color: $gray-400;
  }

  .paint-chip--gray-500 & {
    background-color: $gray-500;
  }

  .paint-chip--gray-600 & {
    background-color: $gray-600;
  }
}

.paint-chip__title {
  @extend %p;
}

.paint-chip__values {
  @extend %h6;
  color: $text-color-light;
}
