// ---------------------------------- \\
//              LAYOUT                \\
// ---------------------------------- \\

.card {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

.card__header {
  grid-area: header;
}

.card__body {
  grid-area: body;
}

.card__footer {
  grid-area: footer;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-gap: $padding-md;
  justify-content: start;
  justify-items: start;
}


// ---------------------------------- \\
//            PLACEHOLDER             \\
// ---------------------------------- \\

%card {
  margin-top: -1px;
  margin-bottom: -1px;
  @extend %p;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}


// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.card {
  @extend %card;
  margin-bottom: calc(#{$padding-md} - 1px);
}

.card__header {
  margin-bottom: -1px;
  padding: $padding-md;
  background-color: $gray-100;
  border-bottom: $border;
}

.card__title {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.card__body {
  padding: ($padding-md * 1.5) $padding-md;
}

.card__footer {
  margin-top: -1px;
  padding: $padding-sm $padding-md;
  background-color: $gray-100;
  border-top: $border;
}
