.has-tooltip {
  position: relative;

  &:before {
    @extend %p;
    display: block;
    position: absolute;
    top: ($padding-xs * -1);
    left: 50%;
    content: attr(aria-label);
    letter-spacing: 0.01em;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
    padding: $padding-xs;
    background-color: $gray-600;
    border-radius: $border-radius;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all $transition-duration $transition-timing-function;
  }

  &:after {
    position: absolute;
    top: $padding-xs;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-width: $padding-xs;
    border-style: solid;
    border-color: $gray-600 transparent transparent transparent;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all $transition-duration $transition-timing-function;
  }

  &:hover {
    &:before,
    &:after {
      opacity: 1;
    }
  }
}
